@media (max-width: 715px){
	#titre{
		font-size: 20px;
	}

	#contenu{
		overflow-x: hidden;
        overflow-y: auto;
	}


	div#footer{
		width: 30%;
		height: 30%;
	}

	p#foot{
		text-align: left;
		font-size: 10px;
		margin-left: auto;
	}

}

@media (max-width: 660px){
	#titre{
		font-size: 10px
	}

	#contenu{
		overflow-x: hidden;
        overflow-y: auto;
	}



}
