body{
	margin: 0px;
	padding: 0px;
	background: url("../img/fond.png") no-repeat center;
	background-size: cover;
	background-attachment: fixed;

}

@media (max-width: 715px){
	#titre{
		font-size: 20px;
	}

	#contenu{
		overflow-x: hidden;
        overflow-y: auto;
	}


	div#footer{
		width: 30%;
		height: 30%;
	}

	p#foot{
		text-align: left;
		font-size: 10px;
		margin-left: auto;
	}

}

@media (max-width: 660px){
	#titre{
		font-size: 80px
	}

	#contenu{
		overflow-x: hidden;
        overflow-y: auto;
	}

	div#html{
		width: 180px;
	}


}

@media (max-width: 500px){
	div#html{
		width: 30%;
	}
}


h2#titre{
	text-align: center;
	letter-spacing: 0.04em;
	font-size: 42px;
	animation: fadeIn 2s;
	font-family: "Gill Sans";
	color: white;
}



nav#menu-nav{
	margin-top: 100px;
}


h5#offcanvasNavbarLabel{
	padding-left: 42%;
}


button#button{
	transition: transform .1s;
	
}


button.navbar-toggler:hover{
	-ms-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
}

div.offcanvas-body .nav-item #home{
	color: black;
}
div.offcanvas-body .nav-item #compet{
	color: black;
}
div.offcanvas-body .nav-item #info{
	color: black;
}

.loader{
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.disparition{
	animation: fadeout 1s forwards;
}

@keyframes fadeout {
	100%{
		opacity: 0;
		visibility: hidden;
	}
}


/*-------------------------------------------Jauge de compétences-----------------------------------------*/

#circlebar{
	margin-top: 30%;
	margin-left: -2%;
	text-align: center;
	font-family: Tahoma;
}

#circlebar .round{
	min-height: 255px;
	margin-top: 35%;
	position: relative;
	margin-bottom: 20px;
}

#circlebar .round strong{
	position: absolute;
	top:50%;
	left: 50%;
	margin-top: -80px;
	transform: translate(-50%);
	font-size: 40px;
	font-weight: 100;

}

#circlebar span img{
	display: block;
	margin-left: 125px;
}