
/* Loader du site */


.loader{
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	
}


.disparition{
	animation: fadeout 1s forwards;
}


@keyframes fadeout {
	100%{
		opacity: 0;
		visibility: hidden;
	}
}




/* Styles du site */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	height: 100%;
	width: 100%;
	background: url("../img/fond.png") no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	display: flex;
	justify-content: flex-end;
	min-height: 100vh;
	flex-direction: column;



}


h2#titre{
	text-align: center;
	letter-spacing: 0.04em;
	font-size: 42px;
	animation: fadeIn 2s;
	font-family: "Gill Sans";
	color: #fff;
	margin-top: -18%;
	display: flex;
	position: fixed;
	margin-left: 40%;
}


/* Menu de Navigation */

nav#menu-nav{
	margin-top: 100px;
}

h5#offcanvasNavbarLabel{
	padding-left: 42%;
}

button#button{
	transition: transform .1s;
	
}

button.navbar-toggler:hover{
	-ms-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transform: scale(0.75);
}


div.offcanvas-body .nav-item #home{
	color: black;
}
div.offcanvas-body .nav-item #compet{
	color: black;
}
div.offcanvas-body .nav-item #info{
	color: black;
}




/* Main */


div#contenu {
	width:80px;
	height:400px;
	margin-top: -10%;
	background-color:#3d3d3d;
	display: flex;
	position: fixed;
	padding-top: 110px;
	width: 35%;
	
}

p#present{
	color: white;
	letter-spacing: 1px;
	border-left: solid 5px white;
	padding-left: 15px;
}


img#logo{
	display: flex;
	position: end;
	height: 450px;
	width: 320px;
	position: fixed;
	margin-top: -10%;
	margin-left: 75%;
	margin-bottom: 10px;
}


/* Footer*/


footer{
	margin-top: 20%;
	margin-bottom: 15px;
	position: relative;
	width: 1920px;
	height: 263px;
	padding: 30px 20px;
	background:#3d3d3d;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

}


footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	
}
footer .container .sec{
	margin-right: 30px;
}


footer .container .sec.aboutme{
	width: 40%;
}



footer .container h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
	margin-left: 50px;
}

footer .container  h2:before{
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #f00;
}



.sci{
	margin-top:20px;
	display: flex;
	

}


.sci li{
	list-style: none;

	padding-right: 30px;
}


.sci li a{

display: inline-block;
width: 48px;
height: 48px;
background: #222;
display: flex;
justify-content: center;
align-items: center;	
margin-right: 10px;
text-decoration: none;
border-radius: 4px;
margin-left: 1px;
}


a#insta img{
	margin-left: 5%;
	transition: transform .1s;
	padding-right: 2px;
}


a#insta img:hover{
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}


a#linked img{
	margin-left: 11%;
	transition: transform .1s;
	padding-right: 4px;
}


a#linked img:hover{
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}


a#twitter img{
	margin-left: 13.5%;
	transition: transform .1s;
	padding-right: 4px;
}


a#twitter img:hover{
	-ms-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
}





.contact{
	position: relative;
	width: 25%;

}

.contact ul li{
	list-style: none;
}



.contact ul li a{
	color: #fff;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;	
}

.contact ul li span{
	color: #fff;
}